@model CinemaCounter.Models.Entities.Ticket

@{
    ViewBag.Title = "Бронирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mui-row">
    <div class="mui-col-md-8 mui-col-md-offset-2">
        <div class="mui--text-display1 mui--text-dark-secondary page-title">@ViewBag.Title</div>
        <div class="mui-panel">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <legend>Заполните поле</legend>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="mui-textfield">
                    @Html.TextBoxFor(m => m.CustomerName, new {required = "", placeholder = Html.DisplayNameFor(m => m.CustomerName)})
                    @Html.ValidationMessageFor(model => model.CustomerName, "", new {@class = "text-danger"})
                </div>
                <div class="mui-textfield">
                    @Html.TextBoxFor(m => m.Cost, new {required = "", placeholder = Html.DisplayNameFor(m => m.Cost)})
                    @Html.ValidationMessageFor(model => model.Cost, "", new {@class = "text-danger"})
                </div>
                <div class="mui-textfield">
                    @Html.TextBoxFor(m => m.Session.Cinema.Name, new {required = "", placeholder = Html.DisplayNameFor(m => m.Session.Cinema.Name)})
                    @Html.ValidationMessageFor(model => model.Session.Cinema.Name, "", new {@class = "text-danger"})
                </div>
                <div class="mui-textfield">
                    @Html.TextBoxFor(m => m.Session.Scene.Name, new {required = "", placeholder = Html.DisplayNameFor(m => m.Session.Scene.Name)})
                    @Html.ValidationMessageFor(model => model.Session.Scene.Name, "", new {@class = "text-danger"})
                </div>
                <button type="submit" class="mui-btn mui-btn--primary">Бронировать</button>
                @Html.ActionLink("Вернуться назад", "Sessions", "Admin", null, new {@class = "account-action"})
            }
        </div>
    </div>
</div>