@model CinemaCounter.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<div class="mui-row">
    <div class="mui-col-md-8 mui-col-md-offset-2">
        <div class="mui--text-display1 mui--text-dark-secondary page-title">@ViewBag.Title</div>
        <div class="mui-panel">
            <p class="mui--text-body1">@ViewBag.StatusMessage</p>
            <h4>Изменение параметров учетной записи</h4>
            <div>
                <p>
                    Пароль:
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Смена пароля", "ChangePassword", null, new {@class = "account-action"})
                    }
                    else
                    {
                        @Html.ActionLink("Создать", "SetPassword", null, new {@class = "account-action"})
                    }</p>
            </div>
            <div>
                <p>
                    Внешние имена входа (@Model.Logins.Count):
                    @Html.ActionLink("Управление", "ManageLogins", null, new {@class = "account-action"})
                </p>
            </div>
        </div>
    </div>
</div>