@model CinemaCounter.Models.ManageLoginsViewModel
@{
    ViewBag.Title = "Управление внешними именами входа";
}

<div class="mui-row">
    <div class="mui-col-md-8 mui-col-md-offset-2">
        <div class="mui--text-display1 mui--text-dark-secondary page-title">@ViewBag.Title</div>
        <div class="mui-panel">
            @{
                if (Model.CurrentLogins.Count > 0)
                {
                    <h4>Зарегистрированные имена входа</h4>
                    foreach (var account in Model.CurrentLogins)
                    {
                        using (Html.BeginForm("RemoveLogin", "Manage"))
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                @Html.Hidden("loginProvider", account.LoginProvider)
                                @Html.Hidden("providerKey", account.ProviderKey)
                                <input type="submit" class="mui-btn mui-btn--primary btn-with-margin-auto" value="Удалить @account.LoginProvider" title="Удалить это имя входа @account.LoginProvider из вашей учетной записи"/>
                            </div>
                        }
                    }
                }
                if (Model.OtherLogins.Count > 0)
                {
                    using (Html.BeginForm("LinkLogin", "Manage"))
                    {
                        @Html.AntiForgeryToken()
                        <div id="socialLoginList">
                            <p>
                                @foreach (var p in Model.OtherLogins)
                                {
                                    <button type="submit" class="mui-btn mui-btn--primary btn-with-margin-auto" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption">@p.AuthenticationType</button>
                                }
                            </p>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>