@model CinemaCounter.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Создать пароль";
}

<div class="mui-row">
    <div class="mui-col-md-8 mui-col-md-offset-2">
        <div class="mui--text-display1 mui--text-dark-secondary page-title">@ViewBag.Title</div>
        <div class="mui-panel">

            @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new {role = "form"}))
            {
                @Html.AntiForgeryToken()
                <legend>Создать локальное имя входа</legend>
                <p>
                    У вас нет локального имени пользователя и пароля для этого сайта. Добавьте локальную
                    учетную запись, чтобы входить без использования внешнего входа.
                </p>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="mui-textfield">
                    @Html.TextBoxFor(m => m.NewPassword, new {required = "", placeholder = Html.DisplayNameFor(m => m.NewPassword)})
                </div>
                <div class="mui-textfield">
                    @Html.PasswordFor(m => m.ConfirmPassword, new {required = "", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword)})
                </div>
                <button type="submit" class="mui-btn mui-btn--primary">Задать пароль</button>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}