@model CinemaCounter.Models.VerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Проверка номера телефона";
}

<div class="mui-row">
    <div class="mui-col-md-8 mui-col-md-offset-2">
        <div class="mui--text-display1 mui--text-dark-secondary page-title">@ViewBag.Title</div>
        <div class="mui-panel">

            @using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new {role = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("phoneNumber", @Model.PhoneNumber)
                <legend>Введите проверочный код</legend>
                <p>@ViewBag.Status</p>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="mui-textfield">
                    @Html.TextBoxFor(m => m.Code, new {required = "", placeholder = Html.DisplayNameFor(m => m.Code)})
                </div>
                <button type="submit" class="mui-btn mui-btn--primary">Отправить</button>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}