@model CinemaCounter.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<div class="mui-row">
    <div class="mui-col-md-8 mui-col-md-offset-2">
        <div class="mui--text-display1 mui--text-dark-secondary page-title">@ViewBag.Title</div>
        <div class="mui-panel">
            @using (Html.BeginForm("Register", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form"}))
            {
                @Html.AntiForgeryToken()
                <legend>Создайте новую учетную запись</legend>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="mui-textfield">
                    @Html.TextBoxFor(m => m.Email, new {required = "", placeholder = Html.DisplayNameFor(m => m.Email)})
                </div>
                <div class="mui-textfield">
                    @Html.PasswordFor(m => m.Password, new {required = "", placeholder = Html.DisplayNameFor(m => m.Password)})
                </div>
                <div class="mui-textfield">
                    @Html.PasswordFor(m => m.ConfirmPassword, new {required = "", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword)})
                </div>
                <button type="submit" class="mui-btn mui-btn--primary">Регистрация</button>
                @Html.ActionLink("Войти, если у Вам уже есть аккаунт", "Login", null, new {@class = "account-action"})
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}